.breadcrumbs {
    margin: 40px auto;
    text-align: center;
    color: #666;
    font-size: 16px;
    color: #767676;
}

.leftShipping {
    padding-right: 50px;
}

.bottomShipping {
    margin-bottom: 30px;
}

.addressItem {
    height: auto;
    min-height: 155px;
    position: relative;
    padding: 20px 20px 30px;
    margin-bottom: 10px;
    border: 1px solid #e5e5e5;
    width: 100%;
}

.parentGrid {
    margin-left: 30px !important;
    padding-right: 100px !important;
    padding-bottom: 100px;
}

.addressItem>p {
    margin-bottom: 5px;
    overflow: hidden;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 17px;
    word-break: break-all;
}

.addressItem .default {
    position: absolute;
    bottom: 10px;
    left: 20px;
    padding: 2px 4px;
    line-height: 14px;
    border: 1px solid #69b61b;
    display: none;
    color: #69b61b;
    text-transform: capitalize;
    font-weight: 400;
}

.addressItem .operate {
    position: absolute;
    font-size: 12px;
    bottom: 10px;
    right: 20px;
}

.addressItem .operate>a {
    text-decoration: underline;
    text-transform: capitalize;
}

.addressItem .operate .no-national {
    position: absolute;
    right: -15px;
    bottom: 25px;
    width: 215px;
    padding: 5px 15px;
    background: #f07474;
    color: #fff;
    line-height: 14px;
    border-radius: 3px;
}

.fontSizeStyle {
    font-size: 13px;
}

.name-phone {
    margin-bottom: 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    line-height: 22px;
}

.addressItem .name-phone .name {
    /* font-size: 13px; */
    /* color: #666; */
    margin-right: 8px;
    margin-top: 0px;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.addressItem .name-phone .phone {
    font-size: 13px;
    color: #666;
    white-space: nowrap;
}

.addAddressGrid {
        max-width: 300px !important;
        padding: 0px 40px 0 !important;
        /* margin: 30px auto 0 !important; */
}

.addAddressGrid>a {
    display: block;
    width: 100%;
}

.she-btn-white {
    background: #fff;
    border-color: #222;
    color: #222;
    border: 0.5px solid black;
}

.check-title {
    position: relative;
    padding-bottom: 12px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px !important;
}

.check-title>h4 {
    font-size: 20px;
    text-transform: capitalize;
    display: inline-block;
    margin: 0px;
}

.check-title .address-select-close {
    font-size: 14px;
    font-weight: 700;
    padding: 5px 5px 0;
}

.clearfix:before {
    content: " ";
    display: table;
}

.marginStyle{
    margin: 0px;
}

.leftFloatStyle {
    clear: both;
    float: left;
}

.rightFloatStyle {
    float: right;
}

.option-description {
    display: table-cell;
    vertical-align: middle;
}

.buttonStyle {
    color: white !important;
    width: 100%;
    background-color: black !important;
}

.paymentMainContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}